* {
  
  padding: 0px;
  
  margin: 0px;
  
  box-sizing: border-box;
  
  font-family: Roboto, Sans-Serif;
  
}

html::-webkit-scrollbar {

    width: 12px;

}

html::-webkit-scrollbar-track {

    background-color: #e6e6e6;

}

html::-webkit-scrollbar-thumb {

    background-color: #0077ff99;

}

html::-webkit-scrollbar-thumb:hover {

    background-color: #0077ff;

}

body {
  
  width: 100vw;
  
  min-height: 100vh;
  
  overflow-x: hidden;
  
  scroll-behavior: smooth;
  
}

header {
  
  position: relative;
  
  display: flex;
  
  justify-content: center;
  
  align-items: center;
  
  flex-direction: column;
  
  width: 100vw;
  
  height: 100vh;
  
}

nav {
  
  position: absolute;
  
  top: 0px;
  
  left: 0px;
  
  display: flex;
  
  justify-content: space-between;
  
  align-items: center;
  
  width: 100vw;
  
  padding: 15px;
  
  background-color: #000000cc;
  
}

nav .logo {
  
  color: white;
  
  font-weight: bold;
  
}

nav ul {
  
  display: flex;
  
  gap: 10px;
  
  list-style-type: none;
  
}

nav ul li a {
  
  color: white;
  
  text-decoration: none;
  
  font-weight: bold;
  
  padding: 5px;
  
  position: relative;
  
}

nav ul li a::after {
  
  content: "";
  
  position: absolute;
  
  height: 2px;
  
  background-color: #aaaaaa;
  
  width: 0px;
  
  bottom: 0px;
  
  left: 0px;
  
  transition-duration: 0.5s;
  
}

nav ul li a:hover::after, .active::after {
  
  width: 100%;
  
}
